<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <h1>Faça login</h1>

    <form action=" {% url "accounts:login" %}" method="POST"> {% csrf_token %}

        <div class="email-text-box">
            <input type="email" class="input-login", placeholder="E-mail", name="email">
        </div>

        <div class="senha-text-box">
            <input type="password" class="input-login", placeholder="Senha", name="senha">
        </div>
        
        <div class="entrar">
            <input type="submit" value='Entrar' class="botao-cadastrar">
        </div>
    </form>
</body>
</html>