{% load static %}

{% include 'produtos/partials/head.html' %}

<body>

    {% include 'produtos/partials/header.html' %}
    
    <main>

        {% include 'produtos/partials/categorias.html' %}
        
        <section class="third_section">
            <h2 id="desejados">ITENS MAIS DESEJADOS</h2>
            <div class="content_box">
                <div class="produtos">
                    
                    {% for produto in produtos %}

                    <div class="image_box_pref">
                        <img src="{{ produto.image.url }}" class="imagens_preferidos" alt="">
                        <h4 class="prefer_titles">{{ produto.nome }}</h4>
                        <p>R$ {{ produto.preco }}</p>
                        <button class="bot_comprar">Comprar</button>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        {% include 'produtos/partials/time-ember.html' %}

        <section class="interacao_cliente">
            <div class="interacao_content">
                <p>Clique para acessar a página de sugestões:</p>
                <button type="button" id="botao-sugestoes"> 
                    <a href="{% url 'sugestion_list' %}" >Sugestões</a>
                </button>
            </div>
        </section>

        {% include 'produtos/partials/info-pagamento.html' %}

    </main>

    {% include 'produtos/partials/footer.html' %}

    <script  src="{% static 'produto/js/script.js' %}"></script>

</body>
</html>