{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Share+Tech&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Página de roupas street">
    <meta name="keywords" content="roupas, street, oversized, skatista, moletons, confortável">
    <meta name="author" content="Kaio Nóbrega, Felipe Marinho">
    <link rel="stylesheet"  href="{% static 'produto/css/styles.css' %}">
    


    <title>EMBER</title>


</head>
<body>

    <header>     

        <nav class="navbar navbar-dark bg-dark">		
            <div class="titulo">
                <a href="">EMBER</a>
            </div>

            <div class="barra-pesquisa">
                <input class="caixa-pesquisa" type="text" placeholder="O que está procurando?" style="text-indent: 10px">

                <button class="botao-pesquisa">
                    <svg class="icon-inline icon-lg svg-icon-text" viewBox="0 0 512 512"><path d="M496.37,453.94l-94.53-94.53c25.99-35.85,41.49-79.79,41.49-127.45,0-120.18-97.42-217.6-217.6-217.6S8.13,111.78,8.13,231.96s97.42,217.6,217.6,217.6c54.04,0,103.38-19.82,141.42-52.43l93.01,93.02c10,10,26.21,10,36.2,0,10-10,10-26.21,0-36.2Zm-270.64-55.59c-91.9,0-166.4-74.5-166.4-166.4S133.83,65.56,225.73,65.56s166.4,74.5,166.4,166.4-74.5,166.4-166.4,166.4Z"></path></svg>
                </button>
            </div>

            <div class="botoes-login">
                <button type="button" class="btn btn-dark">
                    <a href="{% url 'login' %}">
                        Login
                    </a>
                </button>
                <button type="button" class="btn btn-dark">
                    <a href ="{% url 'cadastro'%}">
                    Cadastro
                    </a>
                </button>
            </div>
		</nav>
        
    </header>


    <main>
        <div class="nome-categoria">
            <h2 id="categoria"><strong>CATEGORIA</strong></h2>
            <div class="categoria">
                <div class="item-categoria">
                    <a href="">
                        <img src="//acdn.mitiendanube.com/stores/119/911/themes/lima/1-slide-1691632444112-1043750359-f2ea8570fbe0e0c74e4030e3c1f176bf1691632446-240-0.webp?1386489964" class="swiper-lazy swiper-lazy-loaded" alt="Categoria 1">
                    </a>
                    <div class="descricao-item-categoria">
                        Oversized
                    </div>
                </div>
                <div class="item-categoria">
                    <a href="">
                        <img src="//acdn.mitiendanube.com/stores/119/911/themes/lima/1-slide-1691633749798-1662550278-12e0c246f3da59e1f40f7b47ee9962211691633752-240-0.webp?1386489964" class="swiper-lazy swiper-lazy-loaded" alt="Categoria 5">
                    </a>
                    <div class="descricao-item-categoria">
                        Shorts
                    </div>
                </div>
                <div class="item-categoria">
                    <a href="">
                        <img src="//acdn.mitiendanube.com/stores/119/911/themes/lima/1-slide-1691633749798-8173068842-c37f4382f5a0cc3e49c6f86a0664d7c71691633753-240-0.webp?1386489964" class="swiper-lazy swiper-lazy-loaded" alt="Categoria 6">
                    </a>             
                    <div class="descricao-item-categoria">
                        Suéter
                    </div>
                </div>
                <div class="item-categoria">
                    <a href="">
                        <img src="//acdn.mitiendanube.com/stores/119/911/themes/lima/1-slide-1691633749798-4949154578-da042cc109839bef7c8c0080abdf17321691633751-240-0.webp?1386489964" class="swiper-lazy swiper-lazy-loaded" alt="Categoria 3">
                    </a>
                    <div class="descricao-item-categoria">
                        Acessórios
                    </div>
                </div>
            </div>
        </div>
        <section class="third_section">
            <h2 id="desejados">ITENS MAIS DESEJADOS</h2>
            <div class="content_box">
                <div class="icone voltar">

                </div>
                <div class="image_box_pref">
                    <img src="https://th.bing.com/th/id/R.deef6ba12e5678eb2267ecfc5188586c?rik=XX7trz2YSO4Q4Q&pid=ImgRaw&r=0"  class="imagens_preferidos cam_01" alt="">
                    <h4 class="prefer_titles">Camisa branca HIJACKED</h4>
                    <p>R$ XXX, XX</p>
                    <button class="bot_comprar" id="comprar01">Comprar</button>
                </div>
                   
                <div class="image_box_pref">
                    <img src="https://th.bing.com/th/id/OIP.KFPlQ9J1Hqrc0Q8bbkjW-gHaJd?w=513&h=655&rs=1&pid=ImgDetMain" alt="" class="imagens_preferidos cam_02">
                    <h4 class="prefer_titles">Camisa PRETA PIC/NYC</h4>
                    <p>R$ XXX, XX</p>
                    <button class="bot_comprar" id="comprar02">Comprar</button>
                </div>

                <div class="image_box_pref">
                    <img src="https://static.rockcity.com.br/public/rockcity/imagens/produtos/bermuda-shorts-high-company-adjustable-running-khaki-73874.jpg" alt="" class="imagens_preferidos shorts">
                    <h4 class="prefer_titles">Shorts HIGH Light Brown</h4>
                    <p>R$ XXX, XX</p>
                    <button class="bot_comprar" id="comprar03">Comprar</button>
                </div>

                <div class="image_box_pref">
                    <img src="https://th.bing.com/th/id/OIP.TepQppFGfrmHSnXZDcFXtAHaJC?w=171&h=209&c=7&r=0&o=5&dpr=1.3&pid=1.7" alt="" class="imagens_preferidos" >
                    <h4 class="prefer_titles">Shoulder bag NIKE Air</h4>
                    <p>R$ XXX, XX</p>
                    <button class="bot_comprar" id="comprar04">Comprar</button>
                </div>
                <div class="icone passar">
                    
                </div>

            </div>
        </section>

        <section id="second_section">
            <div class="sect left">
                <h2 id="time">CONHEÇA NOSSO TIME</h2>
                <h4>Kev Strength</h4>
                <p>Proprietário da @kontrolledinsanity @hugesupplements: kev Saúde mental em primeiro lugar. Motivação interna NATURAL. <br>
                     Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis, nemo fuga. Ut sunt inventore accusantium asperiores! Ducimus rerum aspernatur, laborum ut autem mollitia sequi nam nemo ipsum, magni et accusamus!</p>
                <h4 id="tit_shizzy">Shizzy</h4>
                <p>Atleta de bodybuilding dono da marca @YOUNGLA. Influenciador digital do mundo fitness, famoso por seu estilo focado em vestuário street e alternativo. <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia repudiandae quae facilis eius modi! Temporibus, autem consequatur. Ratione quia, doloremque asperiores enim excepturi sequi eligendi, reiciendis possimus ipsam, maiores provident!</p>
            </div>
            <div class="sect right">
                <img src="https://th.bing.com/th/id/OIP.ONXdyx4_Y1gLOEAp94yjgwHaEK?w=304&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7" alt="kev" class="images kev">

                <img src="https://www.sport-equipements.fr/wp-content/uploads/2023/08/shizzy.jpg" alt="shizzy" class=" images shiz">
            </div>
        </section>
        <section class="fourth_section" id="secao_4">
            <div class="section_4_content">
                <div id="texto_secao4">
                    <h2 id="title_secao4">RENOVE SEU GUARDA ROUPAS</h2>
                    <p id="text_04">Jogue fora todas as suas roupas antigas que estragam seu estilo atual. Conheça nossa base de estilo focada em elevar sua autoestima e te tornar uma referência onde estiver.</p>
                    <button class="botoes_roupas">Galeria</button>
                    <button class="botoes_roupas">Fornecedores</button>
                </div>
                <div>
                    <img src="https://img.freepik.com/vetores-gratis/ilustracao-do-conceito-de-brecho_114360-2932.jpg?t=st=1711408200~exp=1711411800~hmac=30dfa737c7ada817310b905b256a9bc338d76c0d23c79a1523eb1984cb4cdd0c&w=740" alt="" id="desenho_secao">
                </div>
                
            </div>
        </section>
        <section class="interacao_cliente">
            <div class="interacao_content">
                <div id="text_interacao">
                    <h2 id="ideias_title">Ideias? Aceitamos sua sugestão:</h2>
                    <p>Mostre-nos sua criatividade e envie novas ideias para estampas abaixo</p>
                    <textarea name="sugestao_txt" id="caixa_ideias" cols="80" rows="5"></textarea>
                </div>
            </div>
        </section>




        <section class="mais-informacoes">
            
            <div class="caixa-informacoes">
                <div class="item-caixa-informacoes">
                    <img class="caminhao-frete" src="frete.svg" alt="">
                    <h3>Frete Grátis acima de R$300</h3>
                    <p>Enviamos para todo Brasil</p>
                </div>

                <div class="item-caixa-informacoes">
                    <img class="cartao-credito" src="cartao.svg" alt="">
                    <h3>Pague via Mercado Pago</h3>
                    <p>com pix, cartão ou boleto</p>
                </div>
            </div>
        </section>

        <section id="redes_sociais">
            <div id="conteudo_redes">
                <h2>CONHEÇA NOSSAS REDES SOCIAIS</h2>
                <p>Esteja conectado conosco para conhecer nossas rotinas de marketing, brainstorming e produção.</p>
                <div id="icone_redes">
                    <a href="#"><img src="https://cdn-icons-png.freepik.com/256/4494/4494468.png" alt="instagram" class="icones ig"></a>
                    <a href="#"><img src="https://cdn-icons-png.freepik.com/256/4494/4494467.png" alt="youtube" class="icones yt" ></a>
                    <a href="#"><img src="https://cdn-icons-png.freepik.com/256/4494/4494470.png" alt="whatsapp" class="icones wpp"></a>
                </div>
            </div>
        </section>
       
    </main>


    <footer>
        <section class="receba-informacoes">
            <div class="infomacoes">
                <h1>Receba Todas as informações</h1>
                <p>Assine e receba todas as ofertas</p>
            </div>
            <div class="form_box">
                <div class="caixa-email">
                    <input type="email" class="inp email_box" name="email" placeholder="E-mail">
                </div>
                
                <div class="botao-email">
                    <button type="button" class="btn btn-dark" id="botao_enviar">Enviar</button>
                </div>
            </div>
        </section>

        <hr>

        <div class="assinatura">
            Developed by Kaio Nóbrega | Felipe Marinho
        </div>
    </footer>
    <script  src="{% static 'produto/js/script.js' %}"></script>

</body>
</html>