* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: aliceblue;
}

a:hover{
    text-decoration: none;
    color: azure;
    transition: 900ms;
}

.titulo{
    color: aliceblue;
    font-family: "Share Tech", sans-serif;
    font-weight: 400;
    font-size: 45px;
    font-style: normal;
    display: flex;
    justify-content: left;
    padding-left: 35px;
}

.barra-pesquisa{
    margin-left: auto;
    padding-right: 70px;
    font-family: "Share Tech", sans-serif;
    position: relative;
}

.caixa-pesquisa{
    border-radius: 8px;
    padding-right: 57px;
}

.botao-pesquisa{
    border: none;
    background-color: transparent;
}

.icon-inline {
    width: 20px; 
    fill: aliceblue; 
}

.icon-lg{
    width: 15px;
    
}

.botoes-login{
    color: aliceblue;
    font-family: "Share Tech", sans-serif;
}

.nome-categoria{
    background-color: #dcdcdc;
    font-family: "Share Tech", sans-serif;
    font-size: 25px;
    text-align: center;
    padding: 30px;

}

.categoria{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 15px;
    text-align: center;
    font-family: "Share Tech", sans-serif;
    color: black;
    background-color: #dcdcdc;
}

.item-categoria{
    padding: 15px;
    transition: transform 0.3s ease-in-out;
}

.item-categoria:hover{
    transform: scale(1.1);
}

.receba-informacoes{
    font-family: "Share Tech", sans-serif;
    background-color: black;
    color: aliceblue;
    margin: 0 auto;
    text-align: center;
    padding: 45px;
}

.caixa-email{
    margin: 0 auto;
    font-family: "Share Tech", sans-serif;
    width: 30%;
}

.botao-email{
    padding: 20px;
}

hr{
    margin: 0 auto;
    background-color: black;
}

.assinatura{
    color: #dcdcdc;
    align-items: center;
    padding-top: 3px;
    background-color: black;
    font-family: "Share Tech", sans-serif;
}