{% load static %}

<div class="nome-categoria">

    
    {% if user.is_authenticated %}
        <h1 class="exibe-nome"><strong> - Olá {{ nome_cliente }} -</strong></h1>
    {% endif %}
    
    <h2 id="categoria"><strong>CATEGORIA</strong></h2>
    <div class="categoria">
        <div class="item-categoria">
            <a href="{% url 'categoria' 'Oversized' %}">
                <img src="//acdn.mitiendanube.com/stores/119/911/themes/lima/1-slide-1691632444112-1043750359-f2ea8570fbe0e0c74e4030e3c1f176bf1691632446-240-0.webp?1386489964" class="swiper-lazy swiper-lazy-loaded" alt="Categoria 1">
            </a>
            <div class="descricao-item-categoria">
                Oversized
            </div>
        </div>
        <div class="item-categoria">
            <a href="{% url 'categoria' 'Shorts' %}">
                <img src="//acdn.mitiendanube.com/stores/119/911/themes/lima/1-slide-1691633749798-1662550278-12e0c246f3da59e1f40f7b47ee9962211691633752-240-0.webp?1386489964" class="swiper-lazy swiper-lazy-loaded" alt="Categoria 5">
            </a>
            <div class="descricao-item-categoria">
                Shorts
            </div>
        </div>
        <div class="item-categoria">
            <a href="{% url 'categoria' 'Sueter' %}">
                <img src="//acdn.mitiendanube.com/stores/119/911/themes/lima/1-slide-1691633749798-8173068842-c37f4382f5a0cc3e49c6f86a0664d7c71691633753-240-0.webp?1386489964" class="swiper-lazy swiper-lazy-loaded" alt="Categoria 6">
            </a>             
            <div class="descricao-item-categoria">
                Suéter
            </div>
        </div>
        <div class="item-categoria">
            <a href="{% url 'categoria' 'Acessorios' %}">
                <img src="//acdn.mitiendanube.com/stores/119/911/themes/lima/1-slide-1691633749798-4949154578-da042cc109839bef7c8c0080abdf17321691633751-240-0.webp?1386489964" class="swiper-lazy swiper-lazy-loaded" alt="Categoria 3">
            </a>
            <div class="descricao-item-categoria">
                Acessórios
            </div>
        </div>
    </div>
</div>