<footer>
    <section id="redes_sociais">
        <div id="conteudo_redes">
            <h2>CONHEÇA NOSSAS REDES SOCIAIS</h2>
            <p>Esteja conectado conosco para conhecer nossas rotinas de marketing, brainstorming e produção.</p>
            <div id="icone_redes">
                <a href="#"><img src="https://cdn-icons-png.freepik.com/256/4494/4494468.png" alt="instagram" class="icones ig"></a>
                <a href="#"><img src="https://cdn-icons-png.freepik.com/256/4494/4494467.png" alt="youtube" class="icones yt" ></a>
                <a href="#"><img src="https://cdn-icons-png.freepik.com/256/4494/4494470.png" alt="whatsapp" class="icones wpp"></a>
            </div>
        </div>
    </section>   

    <section class="receba-informacoes">
        <div class="infomacoes">
            <h1>Receba Todas as informações</h1>
            <p>Assine e receba todas as ofertas</p>
        </div>
        <div class="form_box">
            <div class="caixa-email">
                <input type="email" class="inp email_box" name="email" placeholder="E-mail">
            </div>
            
            <div class="botao-email">
                <button type="button" class="btn btn-dark" id="botao_enviar">Enviar</button>
            </div>
        </div>
    </section>

    <hr>

    <div class="assinatura">
        Developed by Kaio Nóbrega | Felipe Marinho
    </div>
</footer>