{% load static %}

<section class="mais-informacoes">  
    <div class="caixa-informacoes">
        <div class="item-caixa-informacoes">
            <img class="caminhao-frete" src="frete.svg" alt="">
            <h3>Frete Grátis acima de R$300</h3>
            <p>Enviamos para todo Brasil</p>
        </div>
        <div class="item-caixa-informacoes">
            <img class="cartao-credito" src="cartao.svg" alt="">
            <h3>Pague via Mercado Pago</h3>
            <p>com pix, cartão ou boleto</p>
        </div>
    </div>
</section>