{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sugestões</title>
    <link rel="stylesheet" href="{% static 'sugestion/css/sugestionlist.css' %}">
</head>
<body>
    <h1> Galeria de Sugestões:</h1>
    <a href="{% url 'sugestion_create' %}">Criar</a>
    <ul>
        {% for sugestion in sugestion %}
            <li>Autor - {{sugestion.nome }}
                <a href="{% url 'sugestion_detail' pk=sugestion.pk %}">Detalhes</a>
                <a href="{% url 'sugestion_edit' pk=sugestion.pk %}">Editar</a>
                <a href="{% url 'sugestion_delete' pk=sugestion.pk %}">Excluir</a>
            </li>
        {% endfor %}
    </ul>
    <footer>
        <p>&copy; 2024 EMBER. Desenvolvido por Kaio Nóbrega e Felipe Marinho.</p>
    </footer>
</body>
</html>