{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ sugestion.nome }}</title>
    <link rel="stylesheet" href="{% static 'sugestion/css/sugestiondetail.css' %}">
</head>
<body>
    <h1>{{ sugestion.nome }}</h1>
    <p>{{ sugestion.descricao }}</p>
    {% if sugestion.image %}
        <img src="{{ sugestion.image.url }}" alt="{{ sugestion.nome }}">
    {% endif %}

</body>
</html>