*{
    box-sizing: border-box;
}

.botao-voltar{
    font-family: 'roboto';
    font-size: 20px;
    margin-top: 40px;
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
}

.botao-voltar:hover{
    color: black;
    background-color: grey;
}

.main-content{
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.detail-content{
    font-family: 'roboto';
    padding: 40px;
    border-bottom: thin solid black;
    display: flex;
    gap: 50px;
    font-size: 18px;
}

h1{
    font-weight: 900;
}

.img_form{
    max-height: 300px;
    max-width: 500px;
}

.limite_txt{
    width: 400px;
    word-wrap: break-word;
}